In [2]:
import pandas as pd

In [3]:
pd.read_csv("data/context_data/district_demographics/Districts.csv")

,District_No,District_Name,Population,Latino,White,Black,Native_American,Asian,Other,Latino%,White%,Black%,Native_American%,Asian%,Other%,Majority
0,1,Central,"62,781","3,766","32,952","13,452",95,"10,790","1,726",6%,52%,21%,0%,17%,3%,White
1,2,Wentworth,"95,439","3,242","17,747","65,993",138,"5,837","2,482",3%,19%,69%,0%,6%,3%,Black
2,3,Grand Crossing,"75,235","1,123","1,472","71,010",169,312,"1,149",1%,2%,94%,0%,0%,2%,Black
3,4,South Chicago,"123,575","35,381","9,925","76,399",223,258,"1,389",29%,8%,62%,0%,0%,1%,Black
4,5,Calumet,"74,396","2,524",843,"70,064",118,38,809,3%,1%,94%,0%,0%,1%,Black
5,6,Gresham,"90,841",914,312,"88,525",164,61,865,1%,0%,97%,0%,0%,1%,Black
6,7,Englewood,"71,071","1,167",262,"68,787",136,56,663,2%,0%,97%,0%,0%,1%,Black
7,8,Chicago Lawn,"247,373","139,854","51,491","52,219",247,"2,001","1,561",57%,21%,21%,0%,1%,1%,Latino
8,9,Deering,"165,201","94,610","24,307","19,044",173,"25,894","1,173",57%,15%,12%,0%,16%,1%,Latino
9,10,Ogden,"118,093","73,441","4,300","39,440",144,239,529,62%,4%,33%,0%,0%,0%,Latino
10,11,Harrison,"70,474","8,118","1,664","59,671",73,329,619,12%,2%,85%,0%,0%,1%,Black
11,12,Near West,"127,869","42,329","51,775","23,039",185,"8,148","2,393",33%,40%,18%,0%,6%,2%,Mixed
12,14,Shakespeare,"117,738","54,039","49,809","8,027",189,"3,604","2,070",46%,42%,7%,0%,3%,2%,Mixed
13,15,Austin,"59,458","2,265",959,"55,468",107,174,485,4%,2%,93%,0%,0%,1%,Black
14,16,Jefferson Park,"199,482","45,438","138,045","2,022",299,"10,711","2,967",23%,69%,1%,0%,5%,1%,White
15,17,Albany Park,"144,096","62,232","55,743","4,782",321,"17,373","3,645",43%,39%,3%,0%,12%,3%,Mixed
16,18,Near North,"117,041","5,806","88,418","10,681",108,"9,775","2,253",5%,76%,9%,0%,8%,2%,White
17,19,Town Hall,"200,786","20,025","150,551","13,305",308,"12,277","4,320",10%,75%,7%,0%,6%,2%,White
18,20,Lincoln,"91,279","16,519","49,420","9,909",223,"12,792","2,416",18%,54%,11%,0%,14%,3%,White
19,22,Morgan Park,"101,941","3,318","34,863","62,094",112,352,"1,202",3%,34%,61%,0%,0%,1%,Black
20,24,Rogers Park,"141,038","29,746","60,488","25,322",351,"20,796","4,335",21%,43%,18%,0%,15%,3%,Mixed
21,25,Grand Central,"200,391","133,005","29,371","33,033",214,"3,086","1,682",66%,15%,16%,0%,2%,1%,Latino

In [5]:
pd.read_csv("data/older_data/cleaned_data/complaints-victims_2000-2016_2016-11.csv.gz", compression = "gzip")

          cr_id  gender   age      race
0       1000009  FEMALE  37.0  HISPANIC
1       1000015  FEMALE  35.0     BLACK
2       1000015  FEMALE  24.0     BLACK
3       1000020    MALE  27.0     BLACK
4       1000021    MALE  26.0     BLACK
...         ...     ...   ...       ...
20218   1082661    MALE  57.0     BLACK
20219   1082664    MALE  37.0     BLACK
20220   1082695    MALE  47.0     WHITE
20221   1082745    MALE  37.0     BLACK
20222  10077725  FEMALE  40.0     WHITE

[20223 rows x 4 columns]

In [8]:
pd.read_csv("data/older_data/cleaned_data/complaints-accused_2000-2016_2016-11.csv.gz", compression = "gzip")

,row_id,cr_id,birth_year,gender,race,appointed_date,current_unit,current_rank,current_star,complaint_category,...,final_finding,final_discipline,first_name,first_name_NS,full_name,last_name,last_name_NS,middle_initial,middle_initial2,suffix_name
0,1,258996,1949.0,MALE,WHITE,1978-02-27,18.0,SGT,NaN,01A-USE OF PROFANITY,...,NS,600.0,WILLIAM,WILLIAM,"BARRON, WILLIAM",BARRON,BARRON,NaN,NaN,NaN
1,2,258997,1965.0,FEMALE,BLACK,1990-07-30,55.0,NaN,11026.0,01A-USE OF PROFANITY,...,UN,600.0,KIMBERLY,KIMBERLY,"C0NNOLLY, KIMBERLY",C0NNOLLY,C0NNOLLY,NaN,NaN,NaN
2,3,258997,1968.0,MALE,WHITE,1999-03-08,153.0,PO,NaN,01A-USE OF PROFANITY,...,UN,600.0,JOHN,JOHN,"KEENE, JOHN",KEENE,KEENE,NaN,NaN,NaN
3,4,258998,1965.0,MALE,WHITE,1991-11-18,145.0,SGT,807.0,10J-NEGLECT OF DUTY/CONDUCT UNBECOMING - ON DUTY,...,EX,600.0,SCOTT,SCOTT,"SLAVIN, SCOTT",SLAVIN,SLAVIN,NaN,NaN,NaN
4,5,259001,1971.0,MALE,HISPANIC,1996-11-04,701.0,PO,NaN,10U-INADEQUATE/FAILURE TO PROVIDE SERVICE,...,UN,600.0,ANTONIO,ANTONIO,"MARTINEZ, ANTONIO",MARTINEZ,MARTINEZ,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125576,125577,1082657,1968.0,MALE,BLACK,1997-09-02,20.0,PO,9334.0,NaN,...,NaN,NaN,LONNIE,LONNIE,"YOUNG, LONNIE",YOUNG,YOUNG,NaN,NaN,NaN
125577,125578,1082661,1984.0,MALE,WHITE,2007-07-09,10.0,PO,17571.0,NaN,...,NaN,NaN,ANGELO,ANGELO,"MANDILE, ANGELO",MANDILE,MANDILE,NaN,NaN,NaN
125578,125579,1082661,1980.0,MALE,HISPANIC,2007-09-24,10.0,PO,6059.0,NaN,...,NaN,NaN,OSCAR,OSCAR,"NAVARRO, OSCAR",NAVARRO,NAVARRO,NaN,NaN,NaN
125579,125580,1082695,1976.0,MALE,WHITE,2000-02-28,630.0,DET,21781.0,NaN,...,NaN,NaN,ROBERT,ROBERT,"ROSE, ROBERT",ROSE,ROSE,NaN,NaN,NaN
125580,125581,10773250,1966.0,MALE,BLACK,1994-05-31,189.0,PO,5083.0,NaN,...,NaN,NaN,MELVIN,MELVIN,"ECTOR, MELVIN",ECTOR,ECTOR,NaN,NaN,NaN