In [1]:
import pandas as pd
from assign_unique_ids_functions import *
from general_utils import *

In [2]:
df = pd.read_csv('../input/salary_2002-2017_2017-09.csv.gz')

/Users/invinst/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df[df['first_name_NS']=='JEFFERY'][df['last_name_NS']=='AARON']

/Users/invinst/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,year,gender,age_at_hire,rank,start_date,spp_date,org_hire_date,salary,pay_grade,employee_status,first_name,first_name_NS,last_name,last_name_NS,middle_initial,middle_initial2,suffix_name
42195,2005,MALE,34.0,POLICE OFFICER,2005-09-26,2005-09-26,2005-09-26,40830.0,D|1,PROBATIONARY CAREER SERVICE,JEFFERY,JEFFERY,AARON,AARON,M,NaN,NaN
56306,2006,MALE,34.0,POLICE OFFICER,2005-09-26,2005-09-26,2005-09-26,54636.0,D|1,PROBATIONARY CAREER SERVICE,JEFFERY,JEFFERY,AARON,AARON,M,NaN,NaN
70452,2007,MALE,34.0,POLICE OFFICER,2005-09-26,2005-09-26,2005-09-26,58896.0,D|1,CAREER SERVICE,JEFFERY,JEFFERY,AARON,AARON,M,NaN,NaN
84557,2008,MALE,34.0,POLICE OFFICER,2005-09-26,2005-09-26,2005-09-26,61932.0,D|1,CAREER SERVICE,JEFFERY,JEFFERY,AARON,AARON,M,NaN,NaN
98336,2009,MALE,34.0,POLICE OFFICER,2005-09-26,2005-09-26,2005-09-26,64992.0,D|1,CAREER SERVICE,JEFFERY,JEFFERY,AARON,AARON,M,NaN,NaN
111610,2010,MALE,34.0,POLICE OFFICER,2005-09-26,2005-09-26,2005-09-26,73164.0,D|1,CAREER SERVICE,JEFFERY,JEFFERY,AARON,AARON,M,NaN,NaN
124742,2011,MALE,34.0,POLICE OFFICER,2005-09-26,2005-09-26,2005-09-26,74628.0,D|1,CAREER SERVICE,JEFFERY,JEFFERY,AARON,AARON,M,NaN,NaN
137366,2012,MALE,34.0,POLICE OFFICER,2005-09-26,2005-09-26,2005-09-26,75372.0,D|1,CAREER SERVICE,JEFFERY,JEFFERY,AARON,AARON,M,NaN,NaN
152451,2013,MALE,34.0,POLICE OFFICER,2005-09-26,2005-09-26,2005-09-26,75372.0,D|1,CAREER SERVICE,JEFFERY,JEFFERY,AARON,AARON,M,NaN,NaN
165280,2014,MALE,34.0,POLICE OFFICER,2005-09-26,2005-09-26,2005-09-26,79980.0,D|1,CAREER SERVICE,JEFFERY,JEFFERY,AARON,AARON,M,NaN,NaN
178233,2015,MALE,34.0,POLICE OFFICER,2005-09-26,2005-09-26,2005-09-26,83616.0,D|1,CAREER SERVICE,JEFFERY,JEFFERY,AARON,AARON,M,NaN,NaN
187727,2016,MALE,34.0,POLICE OFFICER,2005-09-26,2005-09-26,2005-09-26,101442.0,D|1,CAREER SERVICE,JEFFERY,JEFFERY,AARON,AARON,M,NaN,NaN
187728,2016,MALE,NaN,SERGEANT,NaN,2016-06-01,2005-09-26,101442.0,E|3,CAREER SERVICE,JEFFERY,JEFFERY,AARON,AARON,M,NaN,NaN
200266,2017,MALE,34.0,SERGEANT,2005-09-26,2016-06-01,2005-09-26,101442.0,E|3,CAREER SERVICE,JEFFERY,JEFFERY,AARON,AARON,M,NaN,NaN

In [4]:
sdf = df[df['year']==2014]

In [8]:
keep_duplicates(sdf, ["first_name_NS", "last_name_NS", "middle_initial", "middle_initial2", "suffix_name", "gender"]).sort_values(['last_name_NS','first_name_NS'])

,year,gender,age_at_hire,rank,start_date,spp_date,org_hire_date,salary,pay_grade,employee_status,first_name,first_name_NS,last_name,last_name_NS,middle_initial,middle_initial2,suffix_name
163770,2014,MALE,25.0,POLICE OFFICER,2010-09-01,2010-09-01,2010-09-01,76140.0,D|1,CAREER SERVICE,JAMES,JAMES,ADE,ADE,P,NaN,NaN
173984,2014,MALE,24.0,SERGEANT,1987-04-13,NaN,1987-04-13,109278.0,E|3,CAREER SERVICE,JAMES,JAMES,ADE,ADE,P,NaN,NaN
173166,2014,MALE,23.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1991-01-02,NaN,1991-01-02,105864.0,D|2A,CAREER SERVICE,EDUARDO,EDUARDO,AGRON,AGRON,NaN,NaN,NaN
173167,2014,MALE,23.0,SERGEANT,1991-01-02,2014-05-01,1991-01-02,105864.0,E|3,CAREER SERVICE,EDUARDO,EDUARDO,AGRON,AGRON,NaN,NaN,NaN
167213,2014,MALE,24.0,POLICE OFFICER,2001-04-30,2001-04-30,2001-04-30,99444.0,D|1,CAREER SERVICE,JAIME,JAIME,ALVARADO,ALVARADO,NaN,NaN,NaN
167214,2014,MALE,24.0,SERGEANT,2001-04-30,2014-06-16,2001-04-30,99444.0,E|3,CAREER SERVICE,JAIME,JAIME,ALVARADO,ALVARADO,NaN,NaN,NaN
169184,2014,MALE,26.0,POLICE OFFICER,1998-06-29,1998-06-29,1998-06-29,102564.0,D|1,CAREER SERVICE,ANTONIO,ANTONIO,ALVAREZ,ALVAREZ,NaN,NaN,NaN
169185,2014,MALE,26.0,SERGEANT,1998-06-29,2014-02-16,1998-06-29,102564.0,E|3,CAREER SERVICE,ANTONIO,ANTONIO,ALVAREZ,ALVAREZ,NaN,NaN,NaN
173794,2014,MALE,25.0,POLICE OFFICER,1991-03-27,1991-03-27,1988-09-12,105864.0,D|1,CAREER SERVICE,RICHARD,RICHARD,ALVAREZ,ALVAREZ,D,NaN,NaN
173795,2014,MALE,25.0,SERGEANT,1991-03-27,2014-02-16,1988-09-12,105864.0,E|3,CAREER SERVICE,RICHARD,RICHARD,ALVAREZ,ALVAREZ,D,NaN,NaN
166997,2014,MALE,24.0,POLICE OFFICER,2001-08-27,2001-08-27,2001-08-27,99444.0,D|1,CAREER SERVICE,MICHAEL,MICHAEL,ANDERSON,ANDERSON,A,NaN,NaN
166998,2014,MALE,24.0,SERGEANT,2001-08-27,2014-02-16,2001-08-27,99444.0,E|3,CAREER SERVICE,MICHAEL,MICHAEL,ANDERSON,ANDERSON,A,NaN,NaN
168007,2014,MALE,24.0,POLICE OFFICER,1999-12-13,1999-12-13,1999-12-13,102564.0,D|1,CAREER SERVICE,STEPHEN,STEPHEN,ANDERSON,ANDERSON,R,NaN,NaN
168008,2014,MALE,24.0,SERGEANT,1999-12-13,2014-06-16,1999-12-13,102564.0,E|3,CAREER SERVICE,STEPHEN,STEPHEN,ANDERSON,ANDERSON,R,NaN,NaN
172677,2014,MALE,25.0,POLICE OFFICER,1991-12-02,1991-12-02,1991-12-02,96084.0,D|1,CAREER SERVICE,DERRICK,DERRICK,ARMSTRONG,ARMSTRONG,D,NaN,NaN
172678,2014,MALE,25.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1991-12-02,2014-06-16,1991-12-02,96084.0,D|2A,CAREER SERVICE,DERRICK,DERRICK,ARMSTRONG,ARMSTRONG,D,NaN,NaN
167149,2014,MALE,24.0,POLICE OFFICER,2001-05-29,2001-05-29,2001-05-29,99444.0,D|1,CAREER SERVICE,GEORGE,GEORGE,ARTIGA,ARTIGA,D,NaN,NaN
167150,2014,MALE,24.0,SERGEANT,2001-05-29,2014-06-16,2001-05-29,99444.0,E|3,CAREER SERVICE,GEORGE,GEORGE,ARTIGA,ARTIGA,D,NaN,NaN
171870,2014,MALE,33.0,POLICE OFFICER,1994-01-18,1994-01-18,1994-01-18,88830.0,D|1,CAREER SERVICE,TYRONE,TYRONE,ASKINS,ASKINS,R,NaN,NaN
171871,2014,MALE,33.0,POLICE OFFICER (ASGND AS MOUNTED PATROL OFFICER),1994-01-18,NaN,1994-01-18,88830.0,D|2,CAREER SERVICE,TYRONE,TYRONE,ASKINS,ASKINS,R,NaN,NaN
168376,2014,FEMALE,24.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1999-09-13,NaN,1999-09-13,102564.0,D|2A,CAREER SERVICE,MEGAN,MEGAN,AYLWARD,AYLWARD,L,NaN,NaN
168377,2014,FEMALE,24.0,SERGEANT,1999-09-13,2014-06-16,1999-09-13,102564.0,E|3,CAREER SERVICE,MEGAN,MEGAN,AYLWARD,AYLWARD,L,NaN,NaN
169126,2014,MALE,27.0,POLICE OFFICER,1998-07-27,1998-07-27,1998-07-27,92718.0,D|1,CAREER SERVICE,PAUL,PAUL,BAR,BAR,NaN,NaN,NaN
169127,2014,MALE,27.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1998-07-27,2014-06-16,1998-07-27,92718.0,D|2A,CAREER SERVICE,PAUL,PAUL,BAR,BAR,NaN,NaN,NaN
167977,2014,MALE,23.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),2000-01-24,NaN,2000-01-24,99444.0,D|2A,CAREER SERVICE,THOMAS,THOMAS,BARNETT,BARNETT,W,NaN,NaN
167978,2014,MALE,23.0,SERGEANT,2000-01-24,2014-06-16,2000-01-24,99444.0,E|3,CAREER SERVICE,THOMAS,THOMAS,BARNETT,BARNETT,W,NaN,NaN
164410,2014,MALE,23.0,POLICE OFFICER,2007-04-02,2007-04-02,2007-04-02,79980.0,D|1,CAREER SERVICE,JOSEPH,JOSEPH,BARRERA,BARRERA,A,NaN,NaN
174282,2014,MALE,21.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1986-10-13,NaN,1986-10-13,98898.0,D|2A,CAREER SERVICE,JOSEPH,JOSEPH,BARRERA,BARRERA,A,NaN,NaN
173782,2014,MALE,24.0,POLICE OFFICER,1988-11-07,1988-11-07,1988-11-07,109278.0,D|1,CAREER SERVICE,ROBERT,ROBERT,BARTIK,BARTIK,A,NaN,NaN
173783,2014,MALE,24.0,SERGEANT,1988-11-07,2014-06-16,1988-11-07,109278.0,E|3,CAREER SERVICE,ROBERT,ROBERT,BARTIK,BARTIK,A,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170666,2014,MALE,27.0,POLICE OFFICER,1995-09-05,1995-09-05,1995-09-05,102564.0,D|1,CAREER SERVICE,COREY,COREY,WALKER,WALKER,L,NaN,NaN
170667,2014,MALE,27.0,SERGEANT,1995-09-05,2014-05-01,1995-09-05,102564.0,E|3,CAREER SERVICE,COREY,COREY,WALKER,WALKER,L,NaN,NaN
169003,2014,MALE,24.0,POLICE OFFICER,1998-09-28,1998-09-28,1998-09-28,102564.0,D|1,CAREER SERVICE,ROBERT,ROBERT,WALKER,WALKER,E,NaN,NaN
169004,2014,MALE,24.0,SERGEANT,1998-09-28,2014-06-16,1998-09-28,102564.0,E|3,CAREER SERVICE,ROBERT,ROBERT,WALKER,WALKER,E,NaN,NaN
169966,2014,FEMALE,29.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1996-12-02,NaN,1996-12-02,102564.0,D|2A,CAREER SERVICE,ANGEL,ANGEL,WARD,WARD,F,NaN,NaN
169967,2014,FEMALE,29.0,SERGEANT,1996-12-02,2014-06-16,1996-12-02,102564.0,E|3,CAREER SERVICE,ANGEL,ANGEL,WARD,WARD,F,NaN,NaN
170348,2014,MALE,36.0,POLICE OFFICER,1996-03-18,1996-03-18,1996-03-18,92718.0,D|1,CAREER SERVICE,VICTOR,VICTOR,WATHEN,WATHEN,L,NaN,NaN
170349,2014,MALE,36.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1996-03-18,2014-06-16,1996-03-18,92718.0,D|2A,CAREER SERVICE,VICTOR,VICTOR,WATHEN,WATHEN,L,NaN,NaN
168880,2014,MALE,24.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1998-10-26,NaN,1998-10-26,99444.0,D|2A,CAREER SERVICE,EMMET,EMMET,WELCH,WELCH,J,NaN,NaN
168881,2014,MALE,24.0,SERGEANT,1998-10-26,2014-06-16,1998-10-26,99444.0,E|3,CAREER SERVICE,EMMET,EMMET,WELCH,WELCH,J,NaN,NaN
166522,2014,FEMALE,32.0,POLICE OFFICER,2002-09-30,2002-09-30,2002-09-30,82788.0,D|1,CAREER SERVICE,CASSIE,CASSIE,WEST,WEST,D,NaN,NaN
166523,2014,FEMALE,32.0,POLICE OFFICER / FLD TRNG OFFICER,2002-09-30,NaN,2002-09-30,82788.0,D|2,CAREER SERVICE,CASSIE,CASSIE,WEST,WEST,D,NaN,NaN
169490,2014,MALE,31.0,POLICE OFFICER / FLD TRNG OFFICER,1997-09-02,NaN,1997-09-02,102564.0,D|2,CAREER SERVICE,STANLEY,STANLEY,WILLIAMS,WILLIAMS,L,NaN,NaN
169491,2014,MALE,31.0,SERGEANT,1997-09-02,2014-02-16,1997-09-02,102564.0,E|3,CAREER SERVICE,STANLEY,STANLEY,WILLIAMS,WILLIAMS,L,NaN,NaN
170967,2014,FEMALE,45.0,POLICE OFFICER,1998-03-16,1998-03-16,1995-03-01,92718.0,D|1,CAREER SERVICE,SUSAN,SUSAN,WILLIAMS,WILLIAMS,M,NaN,NaN
170968,2014,FEMALE,45.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1998-03-16,2014-06-16,1995-03-01,92718.0,D|2A,CAREER SERVICE,SUSAN,SUSAN,WILLIAMS,WILLIAMS,M,NaN,NaN
169228,2014,MALE,26.0,POLICE OFFICER,1998-06-08,1998-06-08,1998-06-08,102564.0,D|1,CAREER SERVICE,STEVEN,STEVEN,WILSON,WILSON,J,NaN,NaN
169229,2014,MALE,26.0,SERGEANT,1998-06-08,2014-06-16,1998-06-08,102564.0,E|3,CAREER SERVICE,STEVEN,STEVEN,WILSON,WILSON,J,NaN,NaN
167666,2014,MALE,25.0,POLICE LEGAL OFFICER II,2000-08-14,2014-12-01,2000-08-14,112110.0,E|4,EXEMPT CONFIDENTIAL,ERIC,ERIC,WINSTROM,WINSTROM,NaN,NaN,NaN
167667,2014,MALE,25.0,SERGEANT,2000-08-14,NaN,2000-08-14,112110.0,E|3,CAREER SERVICE,ERIC,ERIC,WINSTROM,WINSTROM,NaN,NaN,NaN
167624,2014,FEMALE,25.0,POLICE OFFICER,2000-09-11,2000-09-11,2000-09-11,99444.0,D|1,CAREER SERVICE,KIMBERLY,KIMBERLY,WOODS,WOODS,D,NaN,NaN
167625,2014,FEMALE,25.0,SERGEANT,2000-09-11,2014-05-01,2000-09-11,99444.0,E|3,CAREER SERVICE,KIMBERLY,KIMBERLY,WOODS,WOODS,D,NaN,NaN
167946,2014,FEMALE,35.0,POLICE OFFICER,2000-01-24,2000-01-24,2000-01-24,89562.0,D|1,CAREER SERVICE,CHANETE,CHANETE,WOOLEY,WOOLEY,R,NaN,NaN
167947,2014,FEMALE,35.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),2000-01-24,2014-06-16,2000-01-24,89562.0,D|2A,CAREER SERVICE,CHANETE,CHANETE,WOOLEY,WOOLEY,R,NaN,NaN
168935,2014,MALE,31.0,POLICE OFFICER,1998-10-13,1998-10-13,1998-10-13,102564.0,D|1,CAREER SERVICE,JOHN,JOHN,XIQUES,XIQUES,C,NaN,NaN
168936,2014,MALE,31.0,SERGEANT,1998-10-13,2014-06-16,1998-10-13,102564.0,E|3,CAREER SERVICE,JOHN,JOHN,XIQUES,XIQUES,C,NaN,NaN
170578,2014,MALE,24.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1995-09-05,NaN,1995-09-05,102564.0,D|2A,CAREER SERVICE,ARTHUR,ARTHUR,YOUNG,YOUNG,M,NaN,NaN
170579,2014,MALE,24.0,SERGEANT,1995-09-05,2014-02-16,1995-09-05,102564.0,E|3,CAREER SERVICE,ARTHUR,ARTHUR,YOUNG,YOUNG,M,NaN,NaN
170616,2014,MALE,25.0,POLICE OFFICER,1995-09-05,1995-09-05,1995-09-05,92718.0,D|1,CAREER SERVICE,DONALD,DONALD,YURISICH,YURISICH,M,NaN,NaN
170617,2014,MALE,25.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1995-09-05,2014-06-16,1995-09-05,92718.0,D|2A,CAREER SERVICE,DONALD,DONALD,YURISICH,YURISICH,M,NaN,NaN

In [9]:
id_cols = ["first_name_NS", "last_name_NS", "middle_initial", "middle_initial2", "suffix_name", "gender"]
sub_id_cols = ["first_name_NS", "last_name_NS", "middle_initial", "middle_initial2", "suffix_name", "gender", "year"]
sub_conflict_cols = ['org_hire_date', 'age_at_hire']
mid = 'salary_2002-2017_2017-09_ID'
sub_id = 'salary-year_2002-2017_2017-09_ID'

In [13]:
out_df = pd.DataFrame()
agg_full_df = pd.DataFrame()
for year in df['year'].unique():
    print(year)
     #log.info('Assigning unique sub-ids for year: %d', year)
    sub_df = df[df['year']==year]
    sub_df = assign_unique_ids(sub_df, sub_id,
                                sub_id_cols,
                                conflict_cols=sub_conflict_cols,
                                log=False)
    sub_df[sub_id] = sub_df[sub_id] + year * 100000
    out_df = out_df.append(sub_df)
    sub_agg_df = aggregate_data(sub_df, sub_id,
                                 sub_id_cols,
                                 max_cols=sub_conflict_cols + ['salary'])
    agg_full_df = agg_full_df.append(sub_agg_df)

2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017

In [16]:
out_df.shape

(212508, 18)

In [15]:
df.shape

(212508, 17)

In [17]:
out_df.head()

,year,gender,age_at_hire,rank,start_date,spp_date,org_hire_date,salary,pay_grade,employee_status,first_name,first_name_NS,last_name,last_name_NS,middle_initial,middle_initial2,suffix_name,salary-year_2002-2017_2017-09_ID
0,2002,MALE,29.0,POLICE OFFICER,1994-08-01,1994-08-01,1994-08-01,57426.0,D|1,CAREER SERVICE,CHRISTOPHE,CHRISTOPHE,TALIAFERRO,TALIAFERRO,NaN,NaN,NaN,200201725
1,2002,MALE,30.0,POLICE OFFICER,2002-07-29,2002-07-29,1994-07-01,36984.0,D|1,PROBATIONARY CAREER SERVICE,BEN,BEN,CHEREK,CHEREK,J,NaN,NaN,200200886
2,2002,MALE,24.0,POLICE OFFICER,1998-07-27,1998-07-27,1998-07-27,54672.0,D|1,CAREER SERVICE,BRIAN,BRIAN,GAINER,GAINER,P,NaN,NaN,200201066
3,2002,FEMALE,28.0,POLICE OFFICER,1998-07-27,1998-07-27,1998-07-27,54672.0,D|1,CAREER SERVICE,TRACEY,TRACEY,REWERS,REWERS,L,NaN,NaN,200212660
4,2002,MALE,32.0,POLICE OFFICER,1990-03-26,1990-03-26,1990-03-26,59412.0,D|1,CAREER SERVICE,PAUL,PAUL,MC GRAW,MCGRAW,M,NaN,NaN,200209649