In [1]:
import pandas as pd
pd.options.display.max_columns=99

In [2]:
df = pd.read_csv("../input/salary_2002-2017_2017-09.csv.gz")

/Users/invinst/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
ref = pd.read_csv("../../../../full-output/profiles/officer-reference.csv.gz")

/Users/invinst/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
ref[ref['UID']==126178]

,TRR-officers_2004-2016_2016-09_ID,TRR-statuses_2004-2016_2016-09_ID,UID,age_at_hire,appointed_date,awards_1967-2017_2017-08_ID,birth_year,complaints-accused_2000-2016_2016-11_ID,complaints-investigators_2000-2016_2016-11_ID,complaints-witnesses_2000-2016_2016-11_ID,current_age,current_age2_m1,current_age2_mp,current_age2_p1,current_age2_pm,current_age_m1,current_age_mp,current_age_p1,current_age_pm,current_rank,current_star,current_status,current_unit,first_name,first_name_NS,gender,last_name,last_name_NS,middle_initial,middle_initial2,org_hire_date,race,resignation_date,resignation_year,roster_1936-2017_2017-04_ID,salary_2002-2017_2017-09_ID,so_max_date,so_max_year,so_max_year_m1,so_min_date,so_min_year,so_min_year_m1,star,start_date,suffix_name,unit-history__2016-03_ID,unit-history__2016-12_ID,unit_description,link_UID
183041,NaN,NaN,126178,NaN,1969-08-11,NaN,1948.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COMMANDER,NaN,0.0,192.0,RONALD,RONALD,MALE,BRANNAN,BRANNAN,W,NaN,NaN,WHITE,2005-06-19,NaN,26786.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14085.0,NaN,NaN,NaN,NaN,VICE & ASSET FORFEITURE DIVISION,2690.0
183042,NaN,NaN,126178,NaN,1969-08-11,NaN,1948.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COMMANDER,NaN,0.0,192.0,RONALD,RONALD,MALE,BRANNAN,BRANNAN,W,NaN,NaN,WHITE,2005-06-19,NaN,26786.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,369.0,NaN,NaN,NaN,NaN,VICE & ASSET FORFEITURE DIVISION,2690.0
183043,NaN,NaN,126178,NaN,1969-08-11,NaN,1948.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192.0,RONALD,RONALD,MALE,BRANNAN,BRANNAN,W,NaN,NaN,WHITE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26347.0,NaN,2690.0
183044,NaN,NaN,126178,NaN,1969-08-11,NaN,NaN,NaN,NaN,NaN,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192.0,RONALD,RONALD,MALE,BRANNAN,BRANNAN,NaN,NaN,NaN,WHITE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14085.0,NaN,NaN,2647.0,NaN,NaN,2690.0
183045,NaN,NaN,126178,NaN,1969-08-11,NaN,NaN,NaN,NaN,NaN,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192.0,RONALD,RONALD,MALE,BRANNAN,BRANNAN,NaN,NaN,NaN,WHITE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,369.0,NaN,NaN,2647.0,NaN,NaN,2690.0
183046,NaN,NaN,126178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RONALD,RONALD,MALE,BRANNAN,BRANNAN,W,NaN,1969-08-11,NaN,NaN,2005.0,NaN,10976.0,1969-08-11,1969.0,1968.0,1969-08-11,1969.0,1968.0,NaN,NaN,NaN,NaN,NaN,NaN,2690.0
183047,NaN,NaN,126178,NaN,1969-08-11,NaN,1948.0,13249.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CMDR,NaN,NaN,192.0,RONALD,RONALD,MALE,BRANNAN,BRANNAN,NaN,NaN,NaN,WHITE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2690.0

In [5]:
df = pd.read_csv("../../../../full-output/salary/salary_2002-2017_2017-09.csv.gz")
fp = pd.read_csv("../../../../full-output/profiles/final-profiles.csv.gz")
fp['resignation_year'] = pd.to_datetime(fp['resignation_date']).dt.year.fillna(2017)

/Users/invinst/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (4,10,14,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
# I think it was anyone who had been a sergeant
# and either had a gap or disappeared from the salary data before they should have

uids = df[df['rank'].isin(['SERGEANT', 'SERGEANT ( PER ARBTRN AGR)'])].UID
lt = df[df['UID'].isin(uids)]
rows = lt.shape[0]
lt = lt.merge(fp[['UID', 'resignation_year']], on='UID', how='left')
def seriously(x):
    g = (x['year'].max() - x['year'].min() + 1 != x['year'].nunique()) or (x['year'].max() < x['resignation_year'].iloc[0])
    return g
bks = lt[['UID', 'year', 'resignation_year']].groupby('UID').apply(seriously).reset_index().rename(columns={0:'gap'})
lt = lt.merge(bks, on='UID', how='inner')
assert rows == lt.shape[0]

In [7]:
sal_ranks = ['COMMANDER OF GENERAL SUPPORT DIVISION', 
             'COMMANDER', 
             'DEPUTY SUPERINTENDENT', 
             'DEPUTY CHIEF', 
             'CHIEF',
             'DIR OF MANAGEMENT/LABOR AFFAIRS',
             'FIRST DEPUTY SUPERINTENDENT',
             'DIR OF MOTOR AND ELECTRONICS MAINTENANCE',
             'ADMINISTRATIVE ASST - POLICE',
             'DIR OF HUMAN RESOURCES',
             "SUPERINTENDENT'S CHIEF OF STAFF",
             'ASSISTANT SUPERINTENDENT',
             'LIEUTENANT',
             'CAPTAIN']

In [8]:
# ranks from FP
fp_ranks =  [
    'LIEUTENANT OF POLICE',
    'COMMANDER', 'CAPTAIN OF POLICE',
    'FIRST DEPUTY SUPT.',
    'DEP CHIEF',
    'ASST DEPUTY SUP',
    'DEPUTY SUPT.', 'CHIEF',
    'DIR PERSONNEL SERV',
    "SUPT'S CHIEF OF STAFF",
    'CMDR TAFFIC ENFORCE',
    'SUPT OF POLICE',
    'DIR LABOR RELATIONS',
    'DIR OF MOTOR MAINT',
    'COMM NEIGHBORHOOD RE',
    'DIST WATCH CO',
    'ASSISTANT SUPERINTENDENT',
    'DIRECTOR OF RECORDS',
    'COMMANDER SPEC SERV',
    'CHIEF SYS PROG IS'
    'DIR MGT/LAB AFFAIRS',
    'COOR /INVESTIGATIONS',
    'DIRECTOR OF CAPS',
    'LT',
    'CMDR']
hr = fp[fp['current_rank'].isin(fp_ranks)]

In [9]:
# and then who also appears with a final/current rank of lieutenant or higher (captain, commander, deputy chief, chief, any kind of superintendent/assistant superintedent)
lt = lt[(lt['rank'].isin(sal_ranks)) | (lt.UID.isin(hr.UID))]

In [10]:
lt = lt.merge(hr[['UID', 'current_rank']], on='UID',how='left')

In [11]:
end_list = []
for uid in lt.UID.unique():
    g = lt[lt['UID']==uid]
    gaps = (set(range(g['year'].min(),
                     int(max(g['year'].max(), 
                         g['resignation_year'].max())+1))) 
            - set(g['year']))
    end_list.append(pd.DataFrame({'UID' : [uid]*len(gaps),
                  'year' : list(gaps),
                  'rank' : ['LIEUTENANT'] * len(gaps),
                  'gen' : [1] * len(gaps)}))
end_df = pd.concat(end_list) 
df = df.append(end_df)

In [18]:
lt_uids = set(lt.UID)
df['gap'] = df['UID'].map(lambda x: 1 if x in lt_uids else 0)

In [19]:
df[df['gap']==1]

,UID,age_at_hire,employee_status,gen,link_UID,org_hire_date,pay_grade,rank,row_id,salary,salary-2002_2002-2017_2017-09_ID,salary-2003_2002-2017_2017-09_ID,salary-2004_2002-2017_2017-09_ID,salary-2005_2002-2017_2017-09_ID,salary-2006_2002-2017_2017-09_ID,salary-2007_2002-2017_2017-09_ID,salary-2008_2002-2017_2017-09_ID,salary-2009_2002-2017_2017-09_ID,salary-2010_2002-2017_2017-09_ID,salary-2011_2002-2017_2017-09_ID,salary-2012_2002-2017_2017-09_ID,salary-2013_2002-2017_2017-09_ID,salary-2014_2002-2017_2017-09_ID,salary-2015_2002-2017_2017-09_ID,salary-2016_2002-2017_2017-09_ID,salary-2017_2002-2017_2017-09_ID,salary_2002-2017_2017-09_ID,salary_2002-2017_2017-09_ID.1,spp_date,start_date,year,gap
46,100137.0,27.0,CAREER SERVICE,NaN,11061.0,1991-12-16,E|3,SERGEANT,7235.0,71382.0,200200047.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,47.0,NaN,1991-12-16,2002.0,1
118,100338.0,26.0,CAREER SERVICE,NaN,21473.0,1999-03-08,D|1,POLICE OFFICER,5867.0,54672.0,200200119.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.0,119.0,1999-03-08,1999-03-08,2002.0,1
126,100368.0,NaN,CAREER SERVICE,NaN,31133.0,1978-02-27,E|3,SERGEANT,4136.0,75996.0,200200127.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127.0,127.0,NaN,NaN,2002.0,1
183,100527.0,24.0,CAREER SERVICE,NaN,31341.0,1986-07-14,E|3,SERGEANT,10171.0,73632.0,200200184.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,184.0,184.0,NaN,1986-07-14,2002.0,1
189,100555.0,24.0,CAREER SERVICE,NaN,20193.0,1988-12-05,E|3,SERGEANT,9003.0,71382.0,200200190.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,190.0,190.0,NaN,1988-12-05,2002.0,1
233,100656.0,23.0,CAREER SERVICE,NaN,15930.0,1990-03-26,D|1,POLICE OFFICER,699.0,59412.0,200200234.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,234.0,234.0,1990-03-26,1990-03-26,2002.0,1
319,100857.0,22.0,CAREER SERVICE,NaN,11633.0,1986-06-16,D|1,POLICE OFFICER,12951.0,61512.0,200200320.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,320.0,320.0,1986-06-16,1986-06-16,2002.0,1
323,100843.0,25.0,CAREER SERVICE,NaN,21812.0,1996-12-02,D|1,POLICE OFFICER,7576.0,57426.0,200200324.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,324.0,324.0,1996-12-02,1996-12-02,2002.0,1
346,100897.0,25.0,CAREER SERVICE,NaN,2189.0,2001-06-25,D|1,POLICE OFFICER,1848.0,46872.0,200200347.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,347.0,347.0,2001-06-25,2001-06-25,2002.0,1
351,100916.0,25.0,CAREER SERVICE,NaN,5481.0,1995-12-04,D|1,POLICE OFFICER,6472.0,57426.0,200200352.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,352.0,352.0,1995-12-04,1995-12-04,2002.0,1
521,101274.0,24.0,CAREER SERVICE,NaN,3965.0,1985-05-06,E|3,SERGEANT,10776.0,73632.0,200200522.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,522.0,522.0,NaN,1985-05-06,2002.0,1
535,101317.0,22.0,CAREER SERVICE,NaN,7958.0,1991-11-18,E|3,SERGEANT,4568.0,71382.0,200200536.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536.0,536.0,NaN,1991-11-18,2002.0,1
536,101318.0,21.0,CAREER SERVICE,NaN,8026.0,1992-01-02,D|2A,POLICE OFFICER (ASSIGNED AS INVESTIGATOR),1215.0,64356.0,200200537.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,537.0,537.0,NaN,1992-01-02,2002.0,1
578,101406.0,25.0,CAREER SERVICE,NaN,16203.0,1977-11-01,E|3,SERGEANT,2367.0,78450.0,200200578.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,578.0,578.0,NaN,1977-11-01,2002.0,1
660,101607.0,27.0,CAREER SERVICE,NaN,31098.0,1986-10-13,E|3,SERGEANT,4808.0,73632.0,200200660.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,660.0,660.0,NaN,1986-10-13,2002.0,1
667,101621.0,22.0,CAREER SERVICE,NaN,29181.0,2000-12-18,D|1,POLICE OFFICER,8757.0,49548.0,200200667.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,667.0,667.0,2000-12-18,2000-12-18,2002.0,1
676,101635.0,28.0,CAREER SERVICE,NaN,1097.0,1985-05-06,E|3,SERGEANT,3922.0,73632.0,200200676.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,676.0,676.0,NaN,1985-05-06,2002.0,1
756,101789.0,22.0,CAREER SERVICE,NaN,2192.0,1973-02-19,E|3,SERGEANT,9141.0,78450.0,200200756.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,756.0,756.0,NaN,1973-02-19,2002.0,1
809,101961.0,27.0,CAREER SERVICE,NaN,10314.0,1986-02-03,E|3,SERGEANT,8905.0,73632.0,200200809.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,809.0,809.0,NaN,1986-02-03,2002.0,1
855,102047.0,24.0,CAREER SERVICE,NaN,21504.0,1986-06-16,E|3,SERGEANT,6325.0,73632.0,200200855.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,855.0,855.0,NaN,1986-06-16,2002.0,1
864,102064.0,27.0,CAREER SERVICE,NaN,30391.0,1994-08-01,E|3,SERGEANT,7210.0,69108.0,200200864.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,864.0,864.0,NaN,1994-08-01,2002.0,1
884,102116.0,29.0,CAREER SERVICE,NaN,3569.0,1986-06-16,E|3,SERGEANT,11681.0,73632.0,200200884.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,884.0,884.0,NaN,1986-06-16,2002.0,1
926,102279.0,28.0,CAREER SERVICE,NaN,24892.0,1987-03-09,E|3,SERGEANT,4799.0,73632.0,200200926.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,926.0,926.0,NaN,1987-03-09,2002.0,1
933,102291.0,22.0,CAREER SERVICE,NaN,10022.0,1990-03-26,E|3,SERGEANT,3682.0,71382.0,200200933.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,933.0,933.0,NaN,1990-03-26,2002.0,1
1012,102491.0,24.0,CAREER SERVICE,NaN,6557.0,1997-05-05,D|2A,POLICE OFFICER (ASSIGNED AS DETECTIVE),7057.0,62214.0,200201012.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1012.0,1012.0,NaN,1997-05-05,2002.0,1
1018,102498.0,30.0,CAREER SERVICE,NaN,18055.0,1999-05-10,D|1,POLICE OFFICER,3451.0,54672.0,200201018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1018.0,1018.0,1999-05-10,1999-05-10,2002.0,1
1021,102507.0,26.0,CAREER SERVICE,NaN,8459.0,1997-05-05,D|1,POLICE OFFICER,5870.0,57426.0,200201021.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1021.0,1021.0,1997-05-05,1997-05-05,2002.0,1
1051,102565.0,28.0,CAREER SERVICE,NaN,6130.0,1982-08-30,E|3,SERGEANT,594.0,75996.0,200201051.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1051.0,1051.0,NaN,1982-08-30,2002.0,1
1099,102647.0,24.0,CAREER SERVICE,NaN,18091.0,1994-09-06,D|1,POLICE OFFICER,6761.0,57426.0,200201099.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1099.0,1099.0,1994-09-06,1994-09-06,2002.0,1
1259,102997.0,35.0,CAREER SERVICE,NaN,12935.0,1994-12-05,E|3,SERGEANT,1494.0,69108.0,200201259.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1259.0,1259.0,NaN,1994-12-05,2002.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,131151.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,1
4,131151.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,1
5,131151.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0,1
0,131183.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006.0,1
1,131183.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007.0,1
2,131183.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.0,1
3,131183.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009.0,1
4,131183.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,1
0,131267.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,1
1,131267.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006.0,1
2,131267.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007.0,1
3,131267.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.0,1
4,131267.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009.0,1
5,131267.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,1
6,131267.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,1
7,131267.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,1
8,131267.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,1
9,131267.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0,1
10,131267.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,1
0,113771.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,1
1,113771.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009.0,1
2,113771.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,1
3,113771.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,1
4,113771.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,1
5,113771.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,1
6,113771.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0,1
7,113771.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,1
0,130643.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,1
1,130643.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,1
0,115405.0,NaN,NaN,1.0,NaN,NaN,NaN,LIEUTENANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,1

In [ ]:
lt.to_csv('likely_LTs.csv.gz',index=False, compression='gzip')

In [20]:
df.to_csv('filled_salary.csv.gz', index=False, compression='gzip')

NameError: name 'df' is not defined